<!doctype html>
<html lang="en">
  <head>
    <title>Lex Testing</title>
    <style>
      html {
        max-width: 700px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <h1> Lex </h1>
    <div id="LexContainer"></div>
    <br/>
    <button class="btn btn-warning" onClick="clearQuery()">Clear Query</button>
    <button class="btn btn-info" onClick="setSuggestions()">Set Suggestions</button>
  </body>
</html>
