{
  "presets": ["env"],
  "plugins": [
    "babel-plugin-transform-decorators-legacy",
    "babel-plugin-preact-require",
    "babel-plugin-transform-class-properties",
    ["transform-react-jsx", {"pragma":"h"}],
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-transform-runtime"
  ]
}
