div.token  {
  display: inline-block;
  background: #ededed;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  white-space: nowrap;
  cursor: default;

  .token-input {
    display: inline-block;
    background: transparent;
    transition: background-color 0.25s linear;
    border: 0;
    width: auto;
    height: 20px;
    padding: 0 3px;
    margin: 0;
    box-shadow: none;
    outline: 0;

    &.invalid {
      background: #d07676;
    }
  }

  input.token-input {
    width: 60px;
    min-width: 60px;
  }
}
