div.search-box {
  height: auto;
}

div.token  {
  display: inline-block;
  background: #ededed;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  margin-top: -0.5px;
  white-space: nowrap;
  cursor: default;

  .token-input {
    display: inline-block;
    background: transparent;
    transition: background-color 0.25s linear;
    border: 0;
    width: auto;
    height: 20px;
    padding: 0 3px;
    margin: 0;
    box-shadow: none;
    outline: 0;

    &.invalid {
      background: #e2a4a4;
    }
  }

  input.token-input {
    width: 60px;
    min-width: 60px;
  }
}

div.assistant-box {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-height: 20px;
  background-color: white;
  border:  1px solid #d9d9d9;

  div.assistant-header {
    color: #8d8d8d;
    background-color: #ededed;
    display:block;
    min-height: 2.5rem;
    padding: 0.5rem 1rem;
  }

  ul {
    list-style-type: none;
    margin: 0; padding: 0;
    li {
      margin: 0; padding: 0.5rem 1rem;
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: #0097a7;
      }
    }
  }
}
