div.token  {
  display: inline-block;

  .token-input {
    display: inline-block;
    background: rgba(0,0,0,0.3);
    border: 0;
    width: auto;
    height: 20px;
    padding: 0 3px;
    margin: 0;
    box-shadow: none;
    outline: 0;

    &.invalid {
      background: rgba(255,0,0,0.3)
    }
  }

  input.token-input {
    width: 60px;
    min-width: 60px;
  }
}
