$lex-background: revert !default;
$lex-border-color: revert !default;
$lex-border-radius-base: 3px !default;
$lex-highlight-color: #0097a7 !default;
$lex-highlight-text-color: #fff !default;
$lex-token-background: #ededed !default;
$lex-token-color: revert !default;
$lex-token-border-color: darken($lex-token-background, 15%) !default;
$lex-token-active-background: darken($lex-token-background, 15%) !default; // lighten for dark theme
$lex-token-invalid-background: #e2a4a4 !default; // lighten for dark theme
$lex-assistant-background: #fff !default;
$lex-assistant-text-color: #333 !default;
$lex-assistant-border-color: $lex-token-border-color !default;
$lex-assistant-header-background: $lex-token-background !default;
$lex-assistant-header-color: #8d8d8d !default;

div.lex-box {
  min-height: 40px;
  cursor: text;
  height: auto;
  background: $lex-background;
  border-color: $lex-border-color;
}

div.token  {
  color: $lex-token-color;
  display: inline-block;
  background: $lex-token-background;
  border-radius: $lex-border-radius-base;
  border: 1px solid $lex-token-border-color;
  margin: 0.2rem 0.6rem 0.2rem 0;
  padding: 0 0.3rem;
  white-space: nowrap;
  cursor: default;
  user-select: none;

  &.suggestion {
    border: 1px solid $lex-highlight-color;
    background: transparentize($lex-highlight-color, 0.85);
  }

  .token-action-add-suggestion {
    font-size: .85em;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    border: 0;
    outline: 0;
    opacity: .4;
    &:hover {
      opacity: 1;
    }
  }

  .token-input {
    display: inline-block;
    background: transparent;
    transition: background-color 0.25s linear;
    border-radius: $lex-border-radius-base;
    border: 0;
    width: auto;
    height: 20px;
    padding: 0 0.2rem;
    margin: 0.5px 0 0 0;
    box-shadow: none;
    outline: 0;
    &.active {
      background: darken($lex-token-background, 15%);
    }
    &.invalid {
      background: $lex-token-invalid-background;
    }
  }

  input.token-input {
    width: 150px;
    min-width: 150px;
  }

  .token-icon {
    display: inline-block;
    font-size: 12px;
  }
}

div.lex-box.focused {
  div.token {
    opacity: 0.6;
    &.active {
      opacity: 1;
    }
  }
}

div.assistant-box {
  display: block;
  margin: 0 auto;
  min-width: 400px;
  min-height: 20px;
  background-color: $lex-assistant-background;
  border:  1px solid $lex-assistant-border-color;
  position: absolute;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  color: $lex-assistant-text-color;

  div.assistant-header {
    color: $lex-assistant-header-color;
    background-color: $lex-assistant-header-background;
    display:block;
    min-height: 2.5rem;
    padding: 0.5rem 1rem;
  }

  ul {
    list-style-type: none;
    margin: 0; padding: 0;
    li {
      margin: 0; padding: 0.5rem 1rem;
      cursor: pointer;
      &:hover, &.active {
        color: $lex-highlight-text-color;
        background-color: $lex-highlight-color;
      }
    }
    &.entered-values {
      border:  1px solid $lex-assistant-border-color;
      li {
        color: $lex-assistant-text-color;
        &:hover, &.active {
          color: $lex-assistant-text-color;
          background-color: $lex-token-invalid-background;
        }
      }
    }
  }
}
