$lex-background: revert !default;
$lex-disabled-background: #eee !default;
$lex-border-color: revert !default;
$lex-border-radius-base: 3px !default;
$lex-highlight-color: #0097a7 !default;
$lex-highlight-text-color: #fff !default;
$lex-danger-highlight-color: #d9534f !default;
$lex-danger-highlight-text-color: #fff !default;
$lex-line-height: 1.67 !default;
$lex-token-padding: 2px !default;
$lex-token-value-spacing: 0.3em !default;
$lex-token-background: #ededed !default;
$lex-token-color: #555 !default;
$lex-token-remove-button-color: lighten($lex-token-color, 45%) !default;
$lex-token-remove-button-hover-color: darken($lex-token-remove-button-color, 15%) !default;
$lex-token-border-color: darken($lex-token-background, 15%) !default;
$lex-token-active-background: darken($lex-token-background, 15%) !default; // lighten for dark theme
$lex-token-input-background-color: #fff !default; // lighten for dark theme
$lex-token-input-border-color: $lex-token-background !default;
$lex-token-invalid-background: #e2a4a4 !default; // lighten for dark theme
$lex-assistant-background: #fff !default;
$lex-assistant-text-color: #333 !default;
$lex-assistant-border-color: $lex-token-border-color !default;
$lex-assistant-header-background: #fff !default;
$lex-assistant-header-color: #8d8d8d !default;
$lex-assistant-list-height: 290px !default; // Approximately 10 items which is the default limit for option assistant

@import './animation.scss';

div.lex-box {
  min-height: 40px;
  cursor: text;
  height: auto;
  background: $lex-background;
  border-color: $lex-border-color;
  line-height: $lex-line-height;

  &.active, &.focused, &.disabled {
    outline: 0;
  }

  &.active {
    border-color: lighten(desaturate($lex-highlight-color, 50%), 20%);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px darken($lex-highlight-color, 10%);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px darken($lex-highlight-color, 10%);
  }

  &.focused {
    border-color: $lex-highlight-color;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px darken($lex-highlight-color, 10%);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px darken($lex-highlight-color, 10%);
  }

  &.disabled {
    background-color: $lex-disabled-background;
    pointer-events: none;
  }
}

div.lex-box div.lex-placeholder {
  user-select: none;
  // Match spacing of tokens (padding + 1px for border)
  margin: 3px;
  padding: $lex-token-padding + 1px;
}

div.lex-box div.token-container {
  display: inline-block;
}

div.lex-box div.token, ul.entered-values li.entered-value {
  color: $lex-token-color;
  display: inline-block;
  background: $lex-token-background;
  border-radius: $lex-border-radius-base;
  border: 1px solid $lex-token-border-color;
  margin: 2px 9px 2px 0;
  padding: $lex-token-padding ($lex-token-padding + 16px) $lex-token-padding ($lex-token-padding + 2px);
  position: relative;
  white-space: nowrap;
  cursor: default;
  user-select: none;

  &.active {
    padding: $lex-token-padding ($lex-token-padding + 16px) $lex-token-padding ($lex-token-padding + 2px);
  }

  &.editing {
    padding: $lex-token-padding ($lex-token-padding + 2px) $lex-token-padding ($lex-token-padding + 2px);
  }

  &.suggestion {
    border: 1px solid $lex-highlight-color;
    background: transparentize($lex-highlight-color, 0.85);
  }

  .token-action, .token-action-add-suggestion {
    font-size: .85em;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    border: 0;
    outline: 0;
    opacity: .4;
    &:hover {
      opacity: 1;
    }
  }

  .token-input, .token-icon {
    display: inline-block;
    background: transparent;
    transition: background-color 0.25s linear;
    border-radius: $lex-border-radius-base;
    @if $lex-token-input-border-color == 'transparent' {
      border: 0;
    } @else {
      border: solid 1px transparent;
    }
    width: auto;
    padding: 0 $lex-token-value-spacing 0 0;
    margin: 0;
    vertical-align: middle;
    box-shadow: none;
    outline: 0;
    &.active {
      background: $lex-token-input-background-color;
      box-shadow: 0 0 0.5em $lex-token-active-background inset;
      @if $lex-token-input-border-color == 'transparent' {
        // Noop
      } @else {
        border: solid 1px $lex-token-input-border-color;
      }
    }
    &.invalid {
      background: $lex-token-invalid-background;
    }
    &.token-input-units {
      padding-left: 0.3em;
    }
    &[disabled] {
      background: transparentize($lex-token-active-background, 0.7);
    }
  }

  &.active .token-input.rewindable {
    cursor: text;
    margin: 0 0.1em;
    padding: 0 0.5em;
    box-shadow: 0 0 0.5em $lex-token-active-background inset;
  }

  &.active .token-input.rewindable:hover {
    background: white;
    @if $lex-token-input-border-color == 'transparent' {
      // Noop
    } @else {
      border: solid 1px $lex-token-input-border-color;
    }
    &.invalid {
      background: $lex-token-invalid-background;
    }
    &[disabled] {
      background: transparentize($lex-token-active-background, 0.7);
    }
  }

  span.badge {
    margin: 0 0.4em 0 0.25em;
  }

  input.token-input {
    width: 150px;
    min-width: 150px;
    padding-left: 0.2em;
    min-height: 26px;

    // Remove IE "clear" button, its confusing to have both that and the remove X
    // since they appear right beside each other
    &::-ms-clear {
      display: none;
    }

    &.token-wide {
      width: 250px;
      min-width: 250px;
    }

    &.has-preview {
      color: transparent; // Make the text transparent so we dont see it when we have a preview value
      text-indent: -9999em; // Shift the text offscreen so we dont see any cursors when we have a preview value
    }
  }

  span.text-input {
    display: inline-block;
    position: relative;
    span.preview {
      position: absolute;
      background: transparent;
      top: 4px;
      left: 3px;
      line-height: 18px;
      padding-right: 5px;
      pointer-events: none;
      user-select: none;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  button.token-remove, button.token-cancel {
    color: $lex-token-remove-button-color;
    padding: 0.2em 0.2em 0.2em 0;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    height: 1.6em;
    &:hover {
      color: $lex-token-remove-button-hover-color;
    }
    span {
      display: inline-block;
      width: 1em;
      height: 1em;
      font-size: 1em;
      line-height: 1em;
    }
  }

  button.token-next {
    margin: 0 0 0 2px;
  }
}

div.lex-box.disabled div.token {
  button {
    opacity: 0.5;
  }
}

div.lex-box.focused {
  div.token {
    opacity: 0.6;
    &.active {
      opacity: 1;
    }
  }
}

div.lex-assistant-box {
  display: block;
  margin: 0 auto;
  min-width: 400px;
  max-width: 600px;
  background-color: $lex-assistant-background;
  border:  1px solid $lex-assistant-border-color;
  position: absolute;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  color: $lex-assistant-text-color;

  &:empty {
    display: none;
  }

  .assistant-header-progress {
    top: 0;
    display: block;
    width: 100%;
    z-index: 1;
  }

  div.assistant-header {
    color: $lex-assistant-header-color;
    background-color: $lex-assistant-header-background;
    border-top: 1px solid $lex-assistant-border-color;
    display:block;
    padding: 0.5rem 1rem;
  }

  ul {
    list-style-type: none;
    margin: 0; padding: 0;
    max-height: $lex-assistant-list-height;
    overflow: auto;

    li {
      margin: 0; padding: 0.5rem 1rem;
      em.pull-right {
        color: #eee;
        display: none;
      }
      &.selectable:hover,  &.removable:hover {
        em.pull-right {
          display: inline-block;
        }
      }
      &.selectable {
        cursor: pointer;
        &.active {
          color: $lex-highlight-text-color;
          background-color: $lex-highlight-color;
        }
      }
      &.removable {
        cursor: pointer;
        &:hover, &.active {
          color: $lex-danger-highlight-text-color;
          background-color: $lex-danger-highlight-color;
        }
      }
    }

    &.entered-values {
      padding: 10px;
      li.entered-value {
        display: inline-block;
        cursor: text;
        &:hover {
          box-shadow: 0 0 5px $lex-token-border-color;
        }
      }
    }
  }

  div.assistant-content-menu {
    padding: 5px;
  }

  div.assistant-body {
    position: relative;
    .lex-dp-container {
      background-color: #f5f5f5;
      padding: 5px;

      > * {
        margin: 0 auto;
        border-radius: 0;
        top: 0;
      }
    }

    .lex-dp-input {
      display: none;
    }

    .dp-permanent {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
  }
}

div.lex-box, div.lex-assistant-box {
  .anim-flash {
    -webkit-animation: flash linear 0.25s 3;
    animation: flash linear 0.25s 3;
  }
  @-webkit-keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
  }
  @keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
  }
}
