$lex-background: revert !default;
$lex-border-color: revert !default;
$lex-border-radius-base: 3px !default;
$lex-highlight-color: #0097a7 !default;
$lex-highlight-text-color: #fff !default;
$lex-danger-highlight-color: #d9534f !default;
$lex-danger-highlight-text-color: #fff !default;
$lex-token-background: #ededed !default;
$lex-token-color: #555;
$lex-token-remove-button-color: lighten($lex-token-color, 45%) !default;
$lex-token-remove-button-hover-color: darken($lex-token-remove-button-color, 15%) !default;
$lex-token-border-color: darken($lex-token-background, 15%) !default;
$lex-token-active-background: darken($lex-token-background, 15%) !default; // lighten for dark theme
$lex-token-invalid-background: #e2a4a4 !default; // lighten for dark theme
$lex-assistant-background: #fff !default;
$lex-assistant-text-color: #333 !default;
$lex-assistant-border-color: $lex-token-border-color !default;
$lex-assistant-header-background: $lex-token-background !default;
$lex-assistant-header-color: #8d8d8d !default;

div.lex-box {
  min-height: 40px;
  cursor: text;
  height: auto;
  background: $lex-background;
  border-color: $lex-border-color;

  &.active, &.focused {
    outline: 0;
  }

  &.active {
    border-color: lighten(desaturate($lex-highlight-color, 50%), 20%);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px darken($lex-highlight-color, 10%);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px darken($lex-highlight-color, 10%);
  }

  &.focused {
    border-color: $lex-highlight-color;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px darken($lex-highlight-color, 10%);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px darken($lex-highlight-color, 10%);
  }
}

div.token  {
  color: $lex-token-color;
  display: inline-block;
  background: $lex-token-background;
  border-radius: $lex-border-radius-base;
  border: 1px solid $lex-token-border-color;
  margin: 0.2rem 0.6rem 0.2rem 0;
  padding: 0 1.6rem 0 0.3rem;
  position: relative;
  white-space: nowrap;
  cursor: default;
  user-select: none;
  font-size: 12px;

  &.suggestion {
    border: 1px solid $lex-highlight-color;
    background: transparentize($lex-highlight-color, 0.85);
  }

  .token-action-add-suggestion {
    font-size: .85em;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    border: 0;
    outline: 0;
    opacity: .4;
    &:hover {
      opacity: 1;
    }
  }

  .token-input {
    display: inline-block;
    background: transparent;
    transition: background-color 0.25s linear;
    border-radius: $lex-border-radius-base;
    border: 0;
    width: auto;
    padding: 0 0.2rem 0 0;
    margin: 0;
    line-height: 20px;
    height: 21px;
    vertical-align: middle;
    box-shadow: none;
    outline: 0;
    &.active {
      background: darken($lex-token-background, 15%);
    }
    &.invalid {
      background: $lex-token-invalid-background;
    }
  }

  span.badge {
    margin: 0 0.4rem 0 0.25rem;
  }

  span.token-input {
    margin-top: 1px;
  }

  input.token-input {
    width: 150px;
    min-width: 150px;
  }

  span.text-input {
    display: inline-block;
    position: relative;
    span.preview {
      position: absolute;
      left: 0;
      line-height: 21px;
    }
  }

  button.token-remove {
    color: $lex-token-remove-button-color;
    padding: 0.2rem 0.4rem 0.2rem 0;
    display: inline-block;
    height: 20px;
    width: 16px;
    position: absolute;
    top: 1px;
    &:hover {
      color: $lex-token-remove-button-hover-color;
    }
    span {
      display: inline-block;
      width: 12px;
      height: 12px;
      font-size: 12px;
      line-height: 12px;
    }
  }
}

div.lex-box.focused {
  div.token {
    opacity: 0.6;
    &.active {
      opacity: 1;
    }
  }
}

div.assistant-box {
  display: block;
  margin: 0 auto;
  min-width: 400px;
  background-color: $lex-assistant-background;
  border:  1px solid $lex-assistant-border-color;
  position: absolute;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  color: $lex-assistant-text-color;

  &:empty {
    display: none;
  }

  div.assistant-header {
    color: $lex-assistant-header-color;
    background-color: $lex-assistant-header-background;
    border-bottom: 1px solid $lex-assistant-border-color;
    display:block;
    min-height: 2.5rem;
    padding: 0.5rem 1rem;
  }

  ul {
    list-style-type: none;
    margin: 0; padding: 0;
    li {
      margin: 0; padding: 0.5rem 1rem;
      em.pull-right {
        color: #eee;
        display: none;
      }
      &.selectable:hover,  &.removable:hover {
        em.pull-right {
          display: inline-block;
        }
      }
      &.selectable {
        cursor: pointer;
        &:hover, &.active {
          color: $lex-highlight-text-color;
          background-color: $lex-highlight-color;
        }
      }
      &.removable {
        cursor: pointer;
        &:hover, &.active {
          color: $lex-danger-highlight-text-color;
          background-color: $lex-danger-highlight-color;
        }
      }
    }
    &.entered-values {
      border:  1px solid $lex-assistant-border-color;
      li {
        span { display: none }
        color: $lex-assistant-text-color;
        &:hover, &.active {
          text-decoration: line-through;
          color: $lex-assistant-text-color;
          background-color: $lex-token-invalid-background;
          span { display: inline }
        }
      }
    }
  }

  div.assistant-body  {
    &.assistant-left {
      width: 50%;
      float: left;
      border-right: 1px solid $lex-assistant-border-color;
    }
    &.assistant-right {
      width: 50%;
      float: right;
    }
  }
}

.anim-flash {
	-webkit-animation: flash linear 0.25s 3;
	animation: flash linear 0.25s 3;
}
@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
